{{!-- select type of training --}}
<div class="choiceLine">
  <label class="choiceBar" for="choose">Trainning Type:</label>
  <select class="choose" name="TrainingTypes">
    <option value="" selected>Select One ...</option>
    <option value="JYB">Just Yo' Body</option>
    <option value="NBH">No Bars Here</option>
    <option value="MIU">Mix It Up</option>
    <option value="GH">Get Heavy</option>
  </select>
</div>
{{!-- container for wods --}}
<div class="container">
  {{#each wods}}
  <div class="wodBox {{this.type}}">
    <div class="wodHead">
      <div class="wodName">{{this.name}}</div>
      <div class="rx">{{this.rx}}</div>
    </div>
    <div class="format">{{this.format}}</div>
    <div class="wod">
      {{#each this.wod}}
      <li>{{this}}</li>
      {{/each}}
    </div>
    <button type="button" class="ChooseWod {{this.name}}">This one</button>
  </div>
  {{/each}}
</div>
<script src="/js/index.js"></script>
